.container {
  background-color: var(--clr-white);
  box-shadow: var(--shadow-sm);
}

.content {
  padding-block: var(--space-8);

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: var(--space-4);
}

.sub {
  text-transform: uppercase;
  font-weight: var(--fw-medium);
  font-size: var(--fs-sm);
  letter-spacing: var(--tracking-wide);
  color: var(--clr-active);
}

.title {
  font-size: calc(var(--fs-base) * 3);
  font-weight: var(--fw-medium);
  font-family: var(--font-serif);
}

.body {
  font-size: 1.125rem;
  color: var(--text-muted);
}
