button {
  color: var(--clr-primary);
  font-size: var(--fs-sm);
  font-weight: var(--fw-medium);

  background-color: var(--clr-accent);

  border: 2px solid var(--clr-accent);
  border-radius: var(--radius-md);

  transition: var(--transition-smooth);
}

.md {
  padding: var(--space-2) var(--space-5);
}

.sm {
  padding: var(--space-2) var(--space-4);
}

.lg {
  padding: var(--space-3) var(--space-6);
}

.outline {
  color: var(--clr-accent);

  border: 2px solid var(--clr-accent);
  border-radius: var(--radius-md);
  background-color: transparent;
}

a:hover button.outline {
  background-color: var(--clr-accent);
  color: var(--clr-primary);
}

a:hover button {
  background-color: var(--clr-accent-hover);
}
