.container {
  background-color: var(--clr-secondary);

  padding-block: calc(var(--space-8) * 2);
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: var(--space-7);

  width: 100%;
}

.heading {
  text-align: center;
}

.wrapper {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--space-7);
}

.card {
  background-color: var(--clr-white);
  overflow: hidden;

  border: 1px solid color-mix(in srgb, var(--clr-accent) 20%, transparent);
  border-radius: var(--radius-lg);

  cursor: pointer;
  box-shadow: var(--shadow-sm);
  transition: var(--transition-smooth);
}

.card:hover {
  box-shadow: var(--shadow-xl);
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: var(--space-3);

  padding: var(--space-4) var(--space-5);
}

.badge {
  max-width: fit-content;
  padding: var(--space-1) var(--space-3);
  border-radius: var(--radius-full);

  background-color: var(--clr-secondary);
  color: var(--clr-accent);

  font-weight: var(--fw-medium);
  font-size: var(--fs-xs);
}

.title {
  font-weight: var(--fw-medium);
}

.description {
  font-size: var(--fs-sm);
  color: var(--text-muted);
  padding-bottom: var(--space-3);
}
