.header {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;

  background-color: var(--clr-primary);
  box-shadow: var(--shadow-md);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: var(--font-sans);

  padding-block: var(--space-4);
}
