.container {
  height: 100%;

  background-color: var(--clr-secondary);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.textContainer {
  margin-block: var(--space-6);
}

.title {
  font-size: var(--fs-2xl);
  color: var(--clr-dark);

  margin-bottom: var(--space-2);
}

.desc {
  color: var(--text-muted);
  width: 450px;
}

.error {
  height: 300px;
  aspect-ratio: 1;
}
